button{
    cursor: pointer;
}
input{
    cursor: pointer;
}
a{
    cursor: pointer;
}

::placeholder{
    color: rgba(0, 0, 0, 0.822);
}
.rwd h3{
    cursor: default;
}

@font-face{
    font-family: 'wolt';
    src: url(/fonts/holtwood/HoltwoodOneSC-Regular.ttf);
}